* {
    -moz-box-sizing : border-box;
    margin-bottom   : 0;
    margin-left     : 0;
    margin-right    : 0;
    margin-top      : 0;
    padding-bottom  : 0;
    padding-left    : 0;
    padding-right   : 0;
    padding-top     : 0;
    position        : relative;
}
img {
    max-width : 100%;
}
.cf:before, .cf:after {
    content : "";
    display : table;
}
.cf:after {
    clear : both;
}
.cf {
}
html {
    background-color    : #EEEEEE;
    background-image    : url("../images/page-bg-gradient.png");
    background-position : center bottom;
    background-repeat   : repeat-x;
    color               : #333333;
    font-family         : Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size           : 125%;
    line-height         : 1.5;
}
hr {
    -moz-border-bottom-colors     : none;
    -moz-border-left-colors       : none;
    -moz-border-right-colors      : none;
    -moz-border-top-colors        : none;
    border-bottom-color           : rgba(255, 255, 255, 0.3);
    border-bottom-style           : solid;
    border-bottom-width           : 1px;
    border-image-outset           : 0 0 0 0;
    border-image-repeat           : stretch stretch;
    border-image-slice            : 100% 100% 100% 100%;
    border-image-source           : none;
    border-image-width            : 1 1 1 1;
    border-left-color-ltr-source  : physical;
    border-left-color-rtl-source  : physical;
    border-left-color-value       : -moz-use-text-color;
    border-left-style-ltr-source  : physical;
    border-left-style-rtl-source  : physical;
    border-left-style-value       : none;
    border-left-width-ltr-source  : physical;
    border-left-width-rtl-source  : physical;
    border-left-width-value       : 0;
    border-right-color-ltr-source : physical;
    border-right-color-rtl-source : physical;
    border-right-color-value      : -moz-use-text-color;
    border-right-style-ltr-source : physical;
    border-right-style-rtl-source : physical;
    border-right-style-value      : none;
    border-right-width-ltr-source : physical;
    border-right-width-rtl-source : physical;
    border-right-width-value      : 0;
    border-top-color              : rgba(0, 0, 0, 0.1);
    border-top-style              : solid;
    border-top-width              : 1px;
    clear                         : both;
    display                       : block;
    height                        : 0;
    margin-bottom                 : 1.5em;
    margin-left                   : 0;
    margin-right                  : 0;
    margin-top                    : 1.5em;
}
header[role="banner"] {
    background-color : rgba(0, 0, 0, 0.1);
    font-size        : 1.25em;
    margin-bottom    : 80px;
    padding-bottom   : 80px;
    padding-left     : 20px;
    padding-right    : 20px;
    padding-top      : 80px;
    text-align       : center;
    width            : 100%;
}
header h1 {
    color          : #FFFFFF;
    font-size      : 4em;
    letter-spacing : -0.03em;
    line-height    : 1;
}
header h2 {
    color       : rgba(0, 0, 0, 0.2);
    line-height : 1;
}
p {
    margin-bottom : 1.5em;
}
h3 {
    margin-top : 2em;
}
code {
    color       : #36A978;
    font-size   : 1.2em;
    font-weight : 700;
    line-height : 1;
}
p a {
    -moz-text-blink            : none;
    -moz-text-decoration-color : -moz-use-text-color;
    -moz-text-decoration-line  : none;
    -moz-text-decoration-style : solid;
    color                      : #3399CC;
    font-weight                : bold;
}
p a:hover {
    -moz-text-blink            : none;
    -moz-text-decoration-color : -moz-use-text-color;
    -moz-text-decoration-line  : underline;
    -moz-text-decoration-style : solid;
}
.alignright {
    float : right;
}
.aligncenter, .promo {
    text-align : center;
}
.container {
    margin-bottom  : 0;
    margin-left    : auto;
    margin-right   : auto;
    margin-top     : 0;
    max-width      : 700px;
    padding-bottom : 0;
    padding-left   : 16px;
    padding-right  : 16px;
    padding-top    : 0;
}
.sandbox {
    background-attachment : scroll;
    background-clip       : border-box;
    background-color      : transparent;
    background-image      : url("../images/bg-gradient.png");
    background-origin     : padding-box;
    background-position   : center top;
    background-repeat     : no-repeat;
    background-size       : 100% auto;
    padding-bottom        : 24px;
    padding-left          : 0;
    padding-right         : 0;
    padding-top           : 24px;
    pointer-events        : none;
    position              : relative;
    z-index               : 999;
}
.fixed + h3 {
    margin-top : 190px;
}
.fixed {
    max-width : 668px;
    position  : fixed !important;
    top       : 0;
    width     : 100%;
}
#animateLogo {
    animation-delay            : 0.2s;
    animation-duration         : 1s;
    animation-fill-mode        : both;
    animation-timing-function  : ease;
    backface-visibility        : hidden;
    background-attachment      : scroll;
    background-clip            : border-box;
    background-color           : #112233;
    background-image           : none;
    background-origin          : padding-box;
    background-position        : 0 0;
    background-repeat          : repeat;
    background-size            : auto auto;
    border-bottom-left-radius  : 5px;
    border-bottom-right-radius : 5px;
    border-top-left-radius     : 5px;
    border-top-right-radius    : 5px;
    color                      : #FFFFFF;
    font-weight                : bold;
    margin-bottom              : 0;
    margin-left                : auto;
    margin-right               : auto;
    margin-top                 : 0;
    padding-bottom             : 20px;
    padding-left               : 10px;
    padding-right              : 10px;
    padding-top                : 20px;
    text-align                 : center;
    width                      : 260px;
}
#animateLogo p {
    margin-bottom : 0;
    margin-left   : 0;
    margin-right  : 0;
    margin-top    : 0;
}
footer {
    border-top-color : #DDDDDD;
    border-top-style : solid;
    border-top-width : 1px;
    color            : #AAAAAA;
    margin-bottom    : 0;
    margin-left      : 0;
    margin-right     : 0;
    margin-top       : 1.5em;
    padding-bottom   : 0;
    padding-left     : 0;
    padding-right    : 0;
    padding-top      : 1.5em;
}
footer a {
    color : #666666;
}
.butt {
    -moz-text-blink            : none;
    -moz-text-decoration-color : -moz-use-text-color;
    -moz-text-decoration-line  : none;
    -moz-text-decoration-style : solid;
    background-attachment      : scroll;
    background-clip            : border-box;
    background-color           : #A3ABAE;
    background-image           : linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-origin          : padding-box;
    background-position        : 0 0;
    background-repeat          : repeat;
    background-size            : auto auto;
    border-bottom-left-radius  : 5px;
    border-bottom-right-radius : 5px;
    border-top-left-radius     : 5px;
    border-top-right-radius    : 5px;
    box-shadow                 : 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    color                      : #FFFFFF;
    cursor                     : pointer;
    display                    : inline-block;
    font-weight                : bold;
    line-height                : 1.5em;
    margin-bottom              : 0.5em;
    margin-left                : 0.25em;
    margin-right               : 0.25em;
    margin-top                 : 0.5em;
    padding-bottom             : 0.5em;
    padding-left               : 0.75em;
    padding-right              : 0.75em;
    padding-top                : 0.4em;
    text-shadow                : 0 1px 1px rgba(0, 0, 0, 0.1);
}
.butt:hover {
    color : #FFFFFF;
}

.co-logo:hover {
    opacity : 1;
}
.ad {
    display     : block;
    font-size   : 0.6em;
    line-height : 1.09;
    position    : absolute;
    right       : -150px;
    top         : 0;
    width       : 130px;
}
.bsa_it_t {
    display     : block;
    font-weight : 700;
}
.ad .one {
    line-height : 1.3;
    width       : auto;
}
body .one .bsa_it_p {
    display : none;
}
.ad img {
    display       : block;
    margin-bottom : 8px;
}
.ad a {
    -moz-text-blink            : none;
    -moz-text-decoration-color : -moz-use-text-color;
    -moz-text-decoration-line  : none;
    -moz-text-decoration-style : solid;
    color                      : #999999;
    display                    : block;
}
#bsap_aplink {
    font-weight : 400;
    margin-top  : 1.1em;
}
.ad .bsa_it_p a {
    font-weight : 400;
    margin-top  : 1em;
}
.ad {
    display : none;
}
body {
}
header h1 {
    font-size : 2em;
}
code {
    word-wrap : break-word;
}
.container {
    margin-bottom : 12px;
    margin-left   : 12px;
    margin-right  : 12px;
    margin-top    : 12px;
}
.ad, .ad * {
    display : none !important;
}
.github {
    display : none;
}
footer {
    font-size : 0.9em;
}
body {
    font-size : 0.875em;
}
a[href="build"] + em {
    display : none;
}
.fixed {
    margin-left : -24px;
}
.fixed + h3 {
    margin-top : 163px;
}
