/* puzzle.css
Table-Free Ajax-CSS-JavaScript Puzzle by John Kraus
no XML or JSON
john@johnfkraus.com
johnkraus3@gmail.com
www.johnfkraus.com
October 2009; updated January 2013
*/

/*********************/
/*** BASIC ***/
/*********************/

.alert {
    font-size        : 1.3em;
    padding          : 1em;
    text-align       : center;
    white-space      : nowrap;
    width            : auto;
    word-wrap        : normal;
    background-color : #00ff00;

}
div.ui-dialog {
    background-color : #66ff66;
    width            : 500px;

}
div.ui-dialog-titlebar {
    background-color : #00ff00;
}

div.ui-dialog-buttonpane {
    background-color : #11ff11;
}

body {
    font-family           : "Century Gothic", "Gill Sans", Arial, sans-serif;
    font-size             : 62.5%;
    padding               : 0;
    z-index               : -1;
    background-attachment : scroll;
    background-clip       : border-box;
    background-position   : center top;
    background-size       : auto auto;
    color                 : #000000;
    background-color: black;
    /* font-size             : 62.5%; */
    /* z-index               : -1;  */
    margin                : 0 auto;
   /* min-width             : 1000px; */
}

p, h1, h2, h3, h4, h5, h5, ol, ul {
    margin  : 0;
    padding : 0;
}

/**************************/
/* WRAPPER/FEATURE STYLES */
/**************************/
#wrapper {
    width         : 650px;
    margin        : 0 auto;
    border : 2px solid #000000;
    height        : 100%;
}

/* MAIN */
/* main has to be up here, otherwise, the main div winds up over the sidebar!!
		199px margin-left plus 1px border-left = 200 px on left and 650 px remaining on right -> 850 px width total
*/
#main {
    position         : relative;
    margin-top       : 0;
    margin-right     : 0;
    border-left      : 1px solid #000;
    border-right     : 1px solid #000;
    background-color : #FFF;
    z-index          : 2;
}
/*
COLOR REFERENCE
red: ff6666/cc0000
blue-green: 33cccc/009999
blue: 3399cc/006699
yellow: ffcc66/cc9900
purple: 3399cc/003366
green: 33cc66/009933
*/
/*********************/
/* LEFT SIDEBAR */
/*********************/
/* extended at the bottom visually in wrapper by:	background: url('../imagesLayout1/bg/bg_column.gif') repeat-y left top;  */


/*********************/
/* MAIN */
/*********************/
/*********************/
/* FEATURED PICTURE */
/*********************/
/*
h1 {
    color       : #294E56;
    margin-top  : 10px;
    font-size   : 2.4em;
    border-top  : 4px solid #294E56;
    line-height : 100%;
}
*/
/*********************/
/* FOOTER */
/*********************/
#footer {
    clear            : both;
    position         : relative;
    background-color : #4A83B3;
    font-style       : normal;
    border-top       : 1px solid #666666;
    border-bottom    : 1px solid black;
    padding          : 1px 0 0 0;
    margin-right     : 0;
    margin-bottom    : 0;
    height           : 193px;

}

#footer p {
    text-indent : 4px;
    font-size   : 12px;
    font-weight : 400;
    line-height : 1.5em;
}

/* added by tidy? */
/*
p.c1 {
    text-align : left
}
*/

/*** styles from usa.css ***/
/*********************/
/*** BIG RED FOOTER ***/
/*********************/
/*
#footer2 {
    background-clip       : border-box;
    background-origin     : padding-box;
    background            : red repeat-x scroll left bottom;
    background-size       : auto auto;
    border-top-color      : #FF8F7F;
    border-top-style      : solid;
    border-top-width      : 3px;
    color                 : #FFFFFF;
    font-size             : 13px;
    text-align            : left;
    width                 : 100%;
}
#footer2 a {
    color : #FFFFFF;
}
#footer2 {
    clear          : both;
    padding-bottom : 100px;
    text-align     : center;
}
*/
/*
#copyright-strip {
    margin        : 0 auto;
    text-align    : left;
    width         : 974px;
}
#copyright-strip {
    font-size   : 13px;
    line-height : 32px;
}
#copyright-strip ul {
    clear   : none;
    float   : left;
    margin  : 0 0 0 -12px;
    padding : 0;
    width   : 900px;
}
#copyright-strip ul li {
    display             : inline;
    line-height         : 36px;
    list-style: none outside none;
    margin              : 0 0 35px;
    padding             : 0 0 0 13px;
    text-align          : center;
}
#copyright-text {
    padding-left  : 5px;
    padding-right : 20px;
    padding-top   : 2px;
}
*/

#puzzlewrapper {
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    font-style  : normal;
    height           : 506px;
    margin           : 0 auto;
    /* since position is relative, picture can drop below */
    position         : relative;
    width            : 100%;
    background-color : #8FBC8F;
    border-bottom    : 1px solid black;
    border-right    : 2px solid black;
    border-top       : 0 solid black;
}


#puzzlewrapper h1 {
    font-size   : 46px;
    font-family : Georgia, "Times New Roman", Times, serif;
    color       : red;
    font-style  : italic;
    font-weight : bold;
    line-height : 42px;
    text-align  : center;
}

#puzzlewrapper a {
    text-decoration : none;
    text-align      : center;
}
/*
#johnspuzzle {
    float    : right;
    position : relative;
    height   : 508px;
    margin   : 0 auto;
    width    : 648px;
    border   : 1px solid black;
}
*/
/* "JOHN'S 15 PUZZLE" logo -- background 650 px wide minus logo 316px wide = 334px/2 = 167px left */
#logotype {
    /*	background: url('../images/johns-tile-puzzle-glow.gif') no-repeat;  /*  size 316px x 59px */
    height           : 80px;
    width            : 500px;
    position         : relative;
    margin-left      : auto;
    margin-right     : auto;
    margin-top       : 0;
    padding-top      : 0;
    /*	border-top-style:hidden; */
    border-top-width : 0;
}

/* "JOHN'S TILE PUZZLE" logo -- background 650 px wide minus logo 316px wide = 334px/2 = 167px left */
#instructions {
    height       : auto;
    width        : auto;
    position     : absolute;
    top          : 70px;
    left         : 215px;
    margin-left  : auto;
    margin-right : auto;
    text-align   : center;
    font-size    : 16px;
    margin-top   : 0;
    padding-top  : 0;
}

#instructions p {
    text-align : center;
    font-size  : 16px;
}

/*  image johns-15-puzzle.gif is 500px wide by 80px high    */
#logotype img {
    margin-top : 0;
    /*	width:500px;
    /*	height:107px;  */
}

#xmlHttpRequestDiv {
    font-size   : 16px;
    position    : absolute;
    width       : 100px;
    left        : 5px;
    top         : 60px;
    color       : #FFF;
    font-weight : bold;
    text-align  : center;
    visibility  : hidden;
    z-index     : 9;
}

#xmlHttpRequestDiv img {
    width   : 140px;
    z-index : 9;
}

#movesDiv {
    font-size   : 16px;
    position    : absolute;
    width       : 100px;
    right       : 35px;
    top         : 80px;
    color       : #FFF;
    font-weight : bold;
    text-align  : center;
}

#jquery-effects-container {
    position         : relative;
    padding          : 0;
    border           : 0 solid black;
    /* visibility       : none; */

    visibility: hidden;
    height           : 330px;
    width            : 330px;
    margin-left      : auto;
    margin-right     : auto;
    margin-top       : auto;
    background-color : #8FBC8F;
}

/* relative positioning  */
#letterboxmargin2 {
    padding          : 0;
    border           : 5px solid yellow;
    visibility       : visible;
    height           : 330px;
    width            : 330px;
    margin-left      : auto;
    margin-right     : auto;
    margin-top       : 16px;
    background-color : #000;
    position         : relative;
    left             : -12px;
}

#letterboxmargin {
    position      : relative;
    padding       : 0;
    border        : 5px solid red;
    visibility    : visible;
    height        : 320px;
    width         : 320px;
    margin: 0 auto auto;
}
/* background 650 px wide minus letterbox 320px wide = 330px/2 = 165px left */
#letterboxBackground {
    position         : absolute;
    height           : 320px;
    width            : 318px;
    top              : 91px;
    left             : 158px;
    background-color : #00F;
    visibility       : visible;
    z-index          : 2;
    margin-top       : 15px;
}

/* background 650 px wide minus letterbox 320px wide = 330px/2 = 165px left */
#letterbox {
    position    : relative;
    height      : 320px;
    width       : 320px;
    margin-top  : -3px;
    margin-left : -3px;
}

/* tile   */
#letterbox a.tile {
    height   : 80px;
    position : absolute;
    width    : 80px;
}

/* tile default */
#letterbox a.b1 {
    background : url('../images/tiles-black.png') 120px 80px no-repeat;
}

/* tile choice */
#letterbox a.b2 {
    background : url('../images/tiles-guinea-pig.png') 120px 80px no-repeat;
}

/* tile choice */
#letterbox a.b3 {
    background : url('../images/tiles-software-testing.png') 120px 80px no-repeat;
}

/* tile choice */
#letterbox a.b4 {
    background : url('../images/tiles-binary.png') 120px 80px no-repeat;
}

/* tile choice */
#letterbox a.b5 {
    background : url('../images/tiles-genbuy.png') 120px 80px no-repeat;
}

/* tile choice */
#letterbox a.b6 {
    background : url('../images/tiles-moon.png') 120px 80px no-repeat;
}

/* tile positioning */
#letterbox a.t11 {
    top  : 3px;
    left : 3px;
}

#letterbox a.t12 {
    top  : 3px;
    left : 83px;
}

#letterbox a.t13 {
    top  : 3px;
    left : 163px;
}

#letterbox a.t14 {
    top  : 3px;
    left : 243px;
}

#letterbox a.t21 {
    top  : 83px;
    left : 3px;
}

#letterbox a.t22 {
    top  : 83px;
    left : 83px;
}

#letterbox a.t23 {
    top  : 83px;
    left : 163px;
}

#letterbox a.t24 {
    top  : 83px;
    left : 243px;
}

#letterbox a.t31 {
    top  : 163px;
    left : 3px;
}

#letterbox a.t32 {
    top  : 163px;
    left : 83px;
}

#letterbox a.t33 {
    top  : 163px;
    left : 163px;
}

#letterbox a.t34 {
    top  : 163px;
    left : 243px;
}

#letterbox a.t41 {
    top  : 243px;
    left : 3px;
}

#letterbox a.t42 {
    top  : 243px;
    left : 83px;
}

#letterbox a.t43 {
    top  : 243px;
    left : 163px;
}

#letterbox a.t44 {
    top  : 243px;
    left : 243px;
}

/* tile numbers */

#letterbox a.n1 {
    background-position : 0 0;
}

#letterbox a.n2 {
    background-position : -80px 0;
}

#letterbox a.n3 {
    background-position : -160px 0;
}

#letterbox a.n4 {
    background-position : -240px 0;
}

#letterbox a.n5 {
    background-position : 0 -80px;
}

#letterbox a.n6 {
    background-position : -80px -80px;
}

#letterbox a.n7 {
    background-position : -160px -80px;
}

#letterbox a.n8 {
    background-position : -240px -80px;
}

#letterbox a.n9 {
    background-position : 0 -160px;
}

#letterbox a.n10 {
    background-position : -80px -160px;
}

#letterbox a.n11 {
    background-position : -160px -160px;
}

#letterbox a.n12 {
    background-position : -240px -160px;
}

#letterbox a.n13 {
    background-position : -0px -240px;
}

#letterbox a.n14 {
    background-position : -80px -240px;
}

#letterbox a.n15 {
    background-position : -160px -240px;
}

#letterbox a.n16 {
    background-position : -240px -240px;
}

/* previously blank square -- completes picture -- was n16win*/
#letterbox a.n0 {
    background-position : -400px -320px;
}

/* blank/white square  -- was n16 -- starting configuration */

#letterbox a.highlight {
    height     : 70px;
    width      : 70px;
    border     : 5px solid blue;
    visibility : visible;
    z-index    : 3;
}

/* if puzzlewrapper height is 506px, thumbnailbars should be 506 minus top
So if top is 40px, thumbnail bar height should be 506-40 = 466. */
#thumbnailbarLeft {
    height   : 466px;
    width    : 180px;
    left     : 0;
    position : absolute;
    top      : 40px;
}

#thumbnailbar {
    height   : 466px;
    width    : 180px;
    right    : 0;
    position : absolute;
    top      : 40px;
}


#puzzlewrapper  .thumbnailbarLeft a img {
    clip     : rect(0px, 80px, 80px, 0);
    height   : 100px;
    width    : 120px;
    position : absolute;
    top      : 0;
    left     : 30px;
}

#puzzlewrapper  .thumbnailbar a img {
    clip     : rect(0px, 80px, 80px, 0);
    height   : 100px;
    width    : 120px;
    position : absolute;
    top      : 0;
    right    : 0;
}

/* thumbnail #1 */
#puzzlewrapper  .thumbnailbarLeft img.classic {
    top     : 100px;
    z-index : 1;
}

#thumbnailsLeft li a:hover img.classic {
    top : 90px;
}

/* thumbnail #2 */
#puzzlewrapper  .thumbnailbarLeft img.sparky {
    top     : 200px;
    z-index : 2;
}

#thumbnailsLeft li a:hover img.sparky {
    top : 190px;
}

/* thumbnail #3 */
#puzzlewrapper .thumbnailbarLeft img.testing {
    top     : 300px;
    z-index : 3;
}

#thumbnailsLeft li a:hover img.testing {
    top : 290px;
}

/* thumbnail #3 */
#puzzlewrapper .thumbnailbarLeft img {
    right : 0;
}

/* duplication? */
#thumbnailsLeft {
    padding : 0;
    margin  : 0;
}

/* duplication? */
#thumbnails {
    padding : 0;
    margin  : 0;
}

#thumbnailsLeft li {
    display         : inline;
    white-space     : nowrap; /* - ensures that text (image, whatever?) stays on one line.*/
    list-style-type : none; /*- removes the bullet from the list (not absolutely necessary).*/
}

#thumbnails li {
    display         : inline;
    white-space     : nowrap; /* - ensures that text (image, whatever?) stays on one line.*/
    list-style-type : none; /*- removes the bullet from the list (not absolutely necessary).*/
}

#thumbnailsLeft li a {
    text-decoration : none;
}

#thumbnails li a {
    text-decoration : none;
}

/* no blue border */
#puzzlewrapper .thumbnailbarLeft img {
    border : 0;
}

/* no blue border */
#puzzlewrapper .thumbnailbar img {
    right  : 0;
    border : 0;
}

/* thumbnail #6 - position should be same as thumbnail #3 except right instead of left and minus -----px  */
#puzzlewrapper .thumbnailbar img.moon {
    top : 100px;
}

#thumbnails li a:hover img.moon {
    top : 90px;
}

/* thumbnail #4 - position should be same as thumbnail #2 except right instead of left and minus 80px  */
#puzzlewrapper .thumbnailbar img.binary {
    top : 200px;
}

#thumbnails li a:hover img.binary {
    top : 190px;
}

/* thumbnail #5 -- position should be same as thumbnail #1 except right instead of left and minus 80px */
#puzzlewrapper  .thumbnailbar img.genbuy {
    top     : 300px;
    z-index : 3;
}

#thumbnails li a:hover img.genbuy {
    top : 290px;
}

/* hover  thumbnails get bigger, move up */
#thumbnailsLeft li a:hover img {
    color    : #fff;
    clip     : rect(0px, 96px, 96px, 0);
    height   : 120px;
    width    : 144px;
    position : absolute;
    left     : 20px;
}

/* hover  thumbnails get bigger, move up */
#thumbnails li a:hover img {
    color    : #fff;
    clip     : rect(0px, 96px, 96px, 0);
    height   : 120px;
    width    : 144px;
    position : absolute;
    right    : -15px;
}

/* credit is an id */
#credit {
    font-style  : normal;
    font-weight : bold;
    width       : 90%;
    left        : 5%;
    position    : absolute;
    bottom      : 15px;
    line-height : 0;
    color       : #000;
    font-size   : 14px;
    text-align  : center;
}

#credit a {
    color : #000;
}

#credit a:hover {
    color : #FF3;
}
div#hintDiv {
    font-family : Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
    font-style  : normal;
    font-size   : 22px;
    position    : relative;
    left        : 30px;
    top         : -340px;
    z-index     : 3;
    width       : 80px;
}

ul#hintUl {
    list-style-type : none;
}
li.commandLi {
    display         : inline;
    white-space     : nowrap; /* - ensures that text (image, whatever?) stays on one line.*/
    list-style-type : none; /*- removes the bullet from the list (not absolutely necessary).*/
}

div#hintDiv a {
    text-decoration : none;
    color           : #FF0000;
}

div#hintDiv a:hover {
    color : #FFFF00;
}


div#hintDiv a.disabled:hover {
    background : none;
    color      : #000;
}

/* solve-scramble is an id; the div is positioned from the BOTTOM of the background */
div#solve-scramble {

    height     : 25px;
    left       : 0;
    font-style : normal;
    font-size  : 22px;
    width      : 100%;
    position   : absolute;
    bottom     : 34px;
}

#solve-scramble a {
    color        : #FF0000;
    margin-left  : 20px;
    margin-right : 20px;

}

#solve-scramble li {
    display         : inline;
    white-space     : nowrap; /* - ensures that text (image, whatever?) stays on one line.*/
    list-style-type : none; /*- removes the bullet from the list (not absolutely necessary).*/
}

#solve-scramble a:hover {
    color : #FFFF00;
}

#solve-scramble a.disabled:hover {
    background : none;
    color      : #000;
}

#puzzlewrapper a.disabled {
    cursor : default;
    /*  filter: alpha(opacity=25); */
    /*  -moz-opacity: .25;
      opacity: .25; */
}

#solve-scramble {
    font-style : normal;
}

.redYellowLinks a {
    font-style : normal;
    color        : #FF0000;
    margin-left  : 20px;
    margin-right : 20px;
}

.redYellowLinks li {
    display         : inline;
    white-space     : nowrap; /* - ensures that text (image, whatever?) stays on one line.*/
    list-style-type : none; /*- removes the bullet from the list (not absolutely necessary).*/
}

.redYellowLinks a:hover {
    color : #FFFF00;
}

.redYellowLinks a.disabled:hover {
    background : none;
    color      : #000;
}

#puzzlewrapper a.disabled {
    cursor : default;
    /*  filter: alpha(opacity=25); */
    /*  -moz-opacity: .25;
      opacity: .25; */
}

#commands a.solve {
    position : absolute;
    left     : 20px;
}

#secondsPerMove {
    position   : absolute;
    font-style : normal;
    font-size  : 14px;
    left       : 175px;
    top        : 5px;
}

#dropdown {
    position : absolute;
    left     : 305px;
    /* top      : 3px; */
    top: -5px;
}

#movesPerSec {
    position    : absolute;
    font-style  : normal;
    font-size   : 14px;
    left        : 375px;
    top         : 5px;
    margin-left : 3px;
}

#scrambleCommand {
    position : absolute;

    right    : 30px;
}

#prg_bar_bg {
    background  : url("../images/progress_bar_bg.png") no-repeat;
    width       : 298px;
    height      : 89px;
    text-align  : center;
    margin: 110px auto auto;
    color       : #323232;
    font        : normal 14px/normal Verdana, Geneva, sans-serif;
    padding-top : 5px;

}

#prg_bar_bg #prg_bar {
    text-align     : center;
    padding-bottom : 5px;
    padding-top    : 5px;
}

#prg_bar_title {
    font-size : 14px;
    color     : #00008b;
}

#prg_cntnt {
    color     : #00008b;
    font-size : 14px;
}

#link-table td {
	padding:2px 0 2px 5px;
	}
