html {
    background              : url('../images/blueSkyGreenHillLandscape.png') no-repeat center center fixed;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
}

p {
    font-size : 36px;
}

#pickResume {
    margin   : 0 auto;
    position : relative;
    top      : 300px;
}

#wrapper {
    text-align : center;
}
a {
    text-decoration : none;
    color           : #FFFFFF;
}
a:hover {
    color : #FF0000;
}
