<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>John's 15-Tile Puzzle plus filters;
        For the filter to work, you need to
        (1) decide which servlet or servlets you want to
        filter and
        (2) tell the servlet container by declaring the filter in the
        deployment descriptor using the &lt;filter&gt;
        element and the &lt;filter-mapping&gt;
        element.
        (3) The &lt;filter&gt;
        element and the &lt;filter-mapping&gt;
        element must come before any
        &lt;listener&gt; and &lt;servlet&gt; elements.
        The deployment descriptor for this example is given in Listing 7.2.
    </description>
    <display-name>johns15puzz</display-name>
    <distributable/>

    <!-- Define servlet-mapped and path-mapped filters -->

    <!-- Define filter mappings for the defined filters -->

    <!-- Define servlet-mapped and path-mapped filters -->

    <!-- Define filter mappings for the defined filters -->

    <!-- Define servlet-mapped and path-mapped filters -->

    <!-- Define filter mappings for the defined filters -->

    <!-- Define filter mappings for the defined filters -->

    <servlet>
        <servlet-name>SolvePuzzleServlet</servlet-name>
        <servlet-class>com.johnfkraus.puzzle.SolvePuzzleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SolvePuzzleServlet</servlet-name>
        <url-pattern>/solve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetIpServlet</servlet-name>
        <servlet-class>com.johnfkraus.puzzle.GetIpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetIpServlet</servlet-name>
        <url-pattern>/GetIpServlet</url-pattern>
    </servlet-mapping>

</web-app>

